.employees{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.employee {
    background-color: blue;
    padding: 2em;
    border: 1em solid fuchsia;
    color: black;
}