.tickets {
display: flex;
flex-direction: column;
}

.ticket {
    background-color: lightblue;
    padding: 3em;
    margin: 1.5em;
    border: 1.5px dotted rgba(29, 184, 208, 0.747);
    border-radius: 3em;
}