.tickets {
display: flex;
flex-direction: column;
}

.ticket {
    background-color: lightblue;
    padding: 2em;
    margin: .5em;
    border: .5px dotted rgba(29, 184, 208, 0.747);
    border-radius: 1.3em;
}